<main>
  <article class="temperatures">
    <header>
      <img src="temp-icon.png" alt="Thermometer icon" />
      <div>
        <h2>Current Temperatures</h2>
        <!-- DatePipe: configurable with various presets -->
        <p>{{ currentDate() | date: 'medium' }}</p>
      </div>
    </header>
    @for (temp of tempsCurrent(); track $index) {
      <p>
        <span>{{ temp[0] }}</span>
        <!-- DecimalPipe: MinIntegers.MinFloats-MaxFloats -->
        <!-- <span>{{ temp[1] | number: '0.2-2' }}</span> -->

        <!-- separate pipe:args:with:colons -->
        <span>{{ temp[1] | temperature:'f':'c' }}</span>
      </p>
    }
  </article>

  <article class="temperatures">
    <header>
      <img src="temp-icon.png" alt="Thermometer icon" />
      <div>
        <h2>Historic Temperatures</h2>
        <p>Berlin</p>
      </div>
    </header>
    <ul>
      @for (temperature of temperatures().historic; track $index) {
        <!-- custom pipe: TemperaturePipe: input declares type, set output for conversion -->
        <li (click)="onReset($index)">{{ temperature | temperature:'c':'f' }}</li>
      }
    </ul>
  </article>
</main>
