// Main styles start here - app-host acts as body for flex inheritance
:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: radial-gradient(ellipse closest-side at center, #c0c0c0, #7f7f7f);
}

// pushes footers to bottom of the page
main {
  flex: 1;
  padding: 1rem 10%;
}

.temperatures {
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 4px;
  background: linear-gradient(#708d96, #9fa8ab);
  font-size: 1.25rem;
  box-shadow: 0 0 8px rgba(25, 25, 24, 0.7);

  header {
    padding: 0.2rem;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    overflow-x: scroll;

    h2 {
      text-align: left;
      font-size: 1rem;
      font-weight: bold;
      color: #ffffff;
    }

    img {
      width: 4rem;
      height: 4rem;
    }
  }

  p {
    font-weight: bold;
    font-size: 0.85rem;
  }

  > p {
    margin: 0.2rem;
  }

  ul {
    li {
      margin: 0.5rem;
    }
  }
}
