<!-- @let allows you to save a computed() value and safely reuse it on runtime -->
@let hasUser = user();
@if (hasUser) {
  <app-modal
       [isOpen]="modal.isOpen()"
    [isClosing]="modal.isClosing()"
    (toggleOff)="onToggleModal($event)"
  >
    <app-task-form
           [user]="hasUser"
          [tasks]="tasks()"
      (toggleOff)="onToggleModal($event)"
        (newTask)="onNewTask($event)"
    ></app-task-form>
  </app-modal>
}
<app-header></app-header>
<main>
  <app-user [users]="users()" (select)="onSelectUser($event)"></app-user>
  @if (hasUser) {
    <app-tasks
          [user]="hasUser"
         [tasks]="tasks()"
      (toggleOn)="onToggleModal($event)"
      (complete)="onCompleteTask($event)"
    ></app-tasks>
  } @else {
    <p id="fallback">Click a button!</p>
  }
</main>
