<app-modal
      [isOpen]="isOpen"
   [isClosing]="isClosing"
   (toggleOff)="onToggleModal($event)"
>
  <app-task-form (toggleOff)="onToggleModal($event)"></app-task-form>
</app-modal>
<app-header></app-header>
<main>
  <app-user [users]="users" (select)="onSelectUser($event)"></app-user>
  @if (user) {
    <app-tasks
          [user]="user"
         [tasks]="tasks"
      (toggleOn)="onToggleModal($event)"
      (complete)="onCompleteTask($event)"
    ></app-tasks>
  } @else {
    <p id="fallback">Click a button!</p>
  }
</main>
