// Main styles start here - app-host acts as body for flex inheritance
:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #c0bdc3;
}

// pushes footers to bottom of the page
main {
  flex: 1;
  padding: 1rem 10%;
}
