h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  color: #2e323b;
}

ul {
  padding: 0.2rem;
  margin: 1rem 0 0;
  display: flex;
  gap: 0.5rem;
  overflow-x: scroll;

  li {
    a {
      color: rgb(207, 228, 245);
      background-color: #264ec5;
      padding: 0.25rem 0.5rem;
      border-radius: 4px;
      transition: all 0.3s ease;

      &:hover {
        background-color: #763ab7;
        box-shadow: 0 0 0.5rem #763ab7;
      }
    }
  }
}
