<h2>Login</h2>
<!-- connect to form - as per new FormControlGroup variable -->
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email {{ isInvalid('email') ? 'invalid' : '' }}</label>
    <!-- REACTIVE FORMS DO NOT NEED NAME PROP ON INPUTS -->
    <input id="email" type="email" [formControl]="form.controls.email" />
  </div>

  <div>
    <label for="password">Password {{ isInvalid('password') ? 'invalid' : '' }}</label>
    <!-- shorthand way to connect input to the form control group -->
    <input id="password" type="password" formControlName="password" />
  </div>
  <button>Login</button>
</form>

<app-table [form]="form" />
