form {
  width: 90%;
  max-width: 40rem;
  margin: 1rem auto;
  padding: 2rem;
  background: linear-gradient(180deg, #253c3c, #1d4949);
  border-radius: 8px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
}

fieldset {
  margin: 0.5rem 0;
  padding: 0 1rem;
}

.control {
  margin: 0.5rem 0;

  &:has(input[type="checkbox"]) {
    display: flex;
    align-items: center;
  }

  label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    color: #9bafaf;
    text-transform: uppercase;
    font-weight: bold;
  }

  input {
    display: block;
    width: 100%;
    max-width: 15rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #758a8a;
    background: #869999;
    color: #142020;

    &[type="checkbox"] {
      display: inline-block;
      width: auto;
      max-width: none;
      margin-right: 0.5rem;
      border-radius: 0;
      border: none;
      background: transparent;
      color: #d9e2f1;
    }
  }

  select {
    display: block;
    width: 100%;
    max-width: 15rem;
    padding: 0.25rem;
    border-radius: 4px;
    border: 1px solid #758a8a;
    background: #869999;
    color: #142020;
  }
}

.control-error {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  height: 1.5rem;
  padding: 0.25rem 0 0 0;
  margin-bottom: 1rem;
  color: #ffca99;
}

.control-row {
  margin: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;

  .control { flex: 1; }
}

hr {
  margin: 1rem 0;
  border: 1px solid #147b73;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background: #147b73;
  color: #d9e2f1;

  &:hover, &:focus { background: #319890; }
}

.btn-flat {
  background: transparent;
  color: #9cbaba;

  &:hover, &:focus {
    background: transparent;
    color: #869999;
  }
}
