:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  background: radial-gradient(ellipse closest-side at center, #363e53, #1c1b1b);
}

main {
  flex: 1;
  padding: 1rem 10%;
}

section {
  max-width: 50rem;
  margin: auto;
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
  padding: 0.2rem;
  overflow-y: hidden;
  overflow-x :scroll;
}

#fallback {
  font-weight: bold;
  font-size: 1.15rem;
  border-radius: 4px;
  background: var(--blue-800);

  span {
    margin: 2rem;
  }
}

@media (min-width: 768px) {
  section {
    grid-template-columns: 1fr 3fr;
  }

  #fallback {
    font-size: 1.5rem;
    text-align: left;
  }
}
