:host {
  height: 10rem;
  width: 15rem;
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  padding: 0 0.5rem;
  border-bottom: 1px solid #76737a;

  div {
    flex: 1;
    background: linear-gradient(to bottom, #36166f, #ca19a4);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

@media (min-width: 768px) {
  :host {
    width: 20rem;
  }
}
