@if (userTasks().length > 0) {
  <section>
    <p>Sort by:</p>
    <select (change)="sortBy(option.value)" [value]="defaultOption()" #option>
      <option value="date">Date</option>
      <option value="alpha">A-Z</option>
    </select>
    <a
      routerLink="./"
      [queryParams]="{ order: setOrder() }"
      queryParamsHandling="merge"
    >
      {{ defaultOrder() }}
    </a>
  </section>
  <ul>
    @for (task of userTasks(); track task.id) {
      <li>
        <h3>{{ task.title }}</h3>
        <time>{{ task.dueDate | date: 'fullDate' }}</time>
        <p>{{ task.summary }}</p>
        <button (click)="markCompleted(task)">Complete</button>
      </li>
    }
  </ul>
} @else {
  <div>{{ userTasks().length }} tasks</div>
}
