<div id="dashboard">
  <app-article type="server">
    <div id="status">
      @if (traffic.isOnline()) {
      <p>Servers are online</p>
      <p>All systems are operational.</p>
      } @else {
      <p>Servers are offline</p>
      <p>Functionality should be restored soon.</p>
      }
    </div>
  </app-article>

  <app-article type="traffic">
    <div id="traffic">
      <p>Last 7 days</p>
      <div id="chart">
        @for (dataPoint of traffic.data(); track dataPoint.id) {
        <div
          [style.height]="(dataPoint.value / traffic.max()) * 100 + '%'"
        ></div>
        }
      </div>
    </div>
  </app-article>

  <app-article type="support">
    <div id="support">
      <p>Todo...</p>
    </div>
  </app-article>
</div>
