<div id="dashboard">
  <app-article type="server">
    <app-status></app-status>
  </app-article>

  <app-article type="traffic">
    <div id="traffic">
      <p>Last 7 days</p>
      <div id="chart">
        @for (dataPoint of traffic.data(); track dataPoint.id) {
        <div
          [style.height]="(dataPoint.value / traffic.max()) * 100 + '%'"
        ></div>
        }
      </div>
    </div>
  </app-article>

  <app-article type="support">
    <div id="support">
      <p>Todo...</p>
    </div>
  </app-article>
</div>
