:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  background: linear-gradient(to bottom, #36166f, #ca19a4);
}

main {
  flex: 1;
  padding: 1rem 10%;
}

header {
  text-align: center;

  img {
    margin: 1rem auto;
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
  }

  h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
  }

  p {
    margin: 0 auto;
    font-size: 1.15rem;
    max-width: 38ch;
    color: #9eb5b4;
  }
}
