<section id="tasks">
  <header>
    <h2>{{ user().name }}'s Tasks</h2>
    <button>Add Task</button>
  </header>
  @if (userTasks().length > 0) {
    <ul>
      @for (task of userTasks(); track task.id) {
        <li>
          <h3>{{ task.title }}</h3>
          <time>{{ task.dueDate }}</time>
          <p>{{ task.summary }}</p>
          <div class="actions">
            <button>Complete</button>
          </div>
        </li>
      }
    </ul>
  } @else {
    <div>{{ userTasks().length }} tasks</div>
  }
</section>
