article {
  background-color: #282620;
  padding: 1rem;
  border-radius: 4px;
  border-left: 8px solid transparent;
  border-color: #3ceff8; // in-progress
  background-color: #211f1a; // in-progress

  &.open {
    border-color: #f8d63c;
    background-color: #2d2a22;
    header p { background-color: #f8d63c; }
  }

  &.done {
    border-color: #c484fc;
    background-color: #39372e;
    header p { background-color: #c484fc; }
  }
}

header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
  overflow-x: scroll;

  h3 {
    color: #efede4;
    margin: 0;
  }

  p {
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.15rem 0.25rem;
    border-radius: 4px;
    color: #282620;
    background-color: #3ceff8; // in-progress
  }
}

p {
  color: #c3c0b9;
}

form {
  text-align: right;
  display: flex;
  gap: 1rem;
  align-items: center;
  overflow-x: scroll;

  select {
    font: inherit;
    padding: 0.15rem;
    margin-left: auto;
    border: none;
    background-color: #575754;
    color: #fefefe;
    border-radius: 0.25rem;
    font-size: 0.75rem;
  }

  button {
    font: inherit;
    padding: 0.25rem 0.5rem;
    border: none;
    background-color: transparent;
    color: #f2e090;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 0.75rem;

    &:hover,
    &:active {
      color: #f8d63c;
    }
  }
}
