<article
  [class]="{
    'status-open': tasks.task().status === 'open',
    'status-in-progress': tasks.task().status === 'in_progress',
    'status-done': tasks.task().status === 'done'
  }"
>
  <header>
    <h3>{{ tasks.task().title }}</h3>
    <p>{{ tasks.taskStatus() }}</p>
  </header>
  <p>{{ tasks.task().desc }}</p>
  <form (ngSubmit)="tasks.onChangeTaskStatus(tasks.task().id, status.value)">
    <select #status>
      <option value="open" [selected]="tasks.task().status === 'open'">Open</option>
      <option value="in_progress" [selected]="tasks.task().status === 'in_progress'">
        In-Progress
      </option>
      <option value="done" [selected]="tasks.task().status === 'done'">
        Completed
      </option>
    </select>
    <p>
      <button>Change Status</button>
    </p>
  </form>
</article>
